<!DOCTYPE html>
<html>
  <head>
    <title>My Web App</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>My Web App</h1>
      <textarea id="inputArea" placeholder="Enter your text here..."></textarea>
      <button id="confirmButton">Confirm</button>
      <div id="displayArea"></div>
    </div>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include your script.js file -->
    <script src="/static/script.js"></script>
  </body>
</html>
